* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../image/backgroud.jpg);
}


/* 顶部导航栏 */

.nav_top {
    width: 100%;
    height: 40px;
    background: rgb(245, 245, 245, 0.4);
    /* 背景透明 */
    padding: 10px;
    position: fixed;
}

.top_box li {
    padding: 10px;
    list-style: none;
    position: relative;
}


/* 消除公司h2的下划线 */

.top_left h2 a {
    text-decoration: none;
}

.top_left {
    float: left;
}

.top_right {
    float: right;
}

.top_left {
    float: left;
}

.top_right {
    float: right;
}


/* 消除浮动要加的class */

.clear {
    clear: both;
}


/* 二级菜单li */

.left_li {
    height: 25px;
    overflow: hidden;
    /* 二级菜单栏溢出 */
    transform: height 1s;
    /* 二级菜单动画 */
}

.left_li:hover {
    height: 150px;
    text-decoration: none;
}

.left_li>a:hover {
    color: blue;
}

.left_li ul li>a:hover {
    color: crimson;
    text-decoration: none;
}


/* 左边菜单 */

.nav_top ul a {
    color: #000000;
}

.nav_left {
    width: 80px;
    height: 200px;
    background: rgb(245, 245, 245, 0.4);
    /* 背景透明 */
    padding: 20;
    position: fixed;
    top: 60px;
}


/* 消除菜单的下划线 */

.left_box a {
    text-decoration: none;
}


/* 菜单选项颜色 */

.left_box li a {
    color: #000000;
}


/* 子菜单的选中颜色 */

.left_box ul li>a {
    color: #000000;
}


/* 添加公司 */

.addcompany {
    text-align: center;
    width: 450px;
    position: fixed;
    top: 8.5%;
    left: 5.6%;
    padding: 20;
    background: rgb(245, 245, 245, 0.4);
}

.formcontrol {
    width: 150px;
    height: 20px;
}

.modifycompany {
    text-align: center;
    width: 550px;
    position: fixed;
    top: 8.5%;
    left: 5.6%;
    padding: 20;
    background: rgb(245, 245, 245, 0.4);
    border: 1px;
}

.modifycompany tr td a {
    color: blue;
}


/* index里的公司名称 */

.companyname {
    color: red;
}


/* 增加部门 */

.adddepartment {
    text-align: center;
    width: 450px;
    position: fixed;
    top: 8.5%;
    left: 5.6%;
    background: rgb(245, 245, 245, 0.4);
}

.departmentform {
    padding: 4px;
}


/* 增加部门的部分文字颜色 */

.deapartment-color {
    color: red;
}


/* 禁用文本框的拉伸 */

textarea {
    resize: none;
}